<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <title>Chase Jensen | Ruby Rails AngularJS JavaScript Freelancer</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <%= render 'layouts/header' %>
    <div id="main" class="container">
    <%= yield %>
  </div>
</body>
</html>
